      #container {
          position: relative;
          width: 350px;
          height: 300px;
          border: 1px solid black;
      }

      .block {
          position: absolute;
          background-color: lightblue;
          /* Задайте унікальний колір для кожного блоку */
          border: 1px solid black;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 12px;
      }