    body {
        margin: 0;
    }

    #container {
        position: relative;
        width: 100vw;
        height: calc(100vh - 20px);
        border: 1px solid black;
    }

    .block {
        position: absolute;
        background-color: lightblue;
        /* Задайте унікальний колір для кожного блоку */
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }

    .fullness-text {
        display: block;
        height: 20px;
    }